{% extends "base.html" %} 
{% load static %} 
{% block title %}Register{% endblock %}
{% block main %}
    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"> <span class="bg-secondary pr-3">Register</span> 
    </h2> 
    <div class="px-xl-5"> 
        <div class="mb-5 contact-us"> 
            <div class="contact-form bg-light p-30"> 
                {% if messages %} 
                    {% for message in messages %} 
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div> 
                    {% endfor %} 
                {% endif %} 
 
                <form method="post"  id="registerForm" novalidate> 
                    {% csrf_token %} 
 
                    <!--  یلک یاهاطخ--> 
                   

                    <!--  نفلت هرامش--> 
                    <div class="form-group mb-3"> 
                        {{ form.phone }} 
                        {% if form.phone.errors %} 
                            <div class="invalid-feedback d-block"> 
                                {% for error in form.phone.errors %} 
                                    {{ error }} 
                                {% endfor %} 
                            </div> 
                        {% endif %} 
                    </div> 
                    <div class="form-group mb-3"> 
                        {{ form.email }} 
                        {% if form.email.errors %} 
                            <div class="invalid-feedback d-block">{{ form.email.errors }}</div> 
                        {% endif %} 
                    </div> 
                    <!--  روبع زمر--> 
                    <div class="form-group mb-3"> 
                        {{ form.password }} 
                        {% if form.password.help_text %} 
                            <small class="form-text text-muted d-block mt-2">{{ form.password.help_text|safe 
                            }}</small> 
                        {% endif %} 
                        {% if form.password.errors %} 
                            <div class="invalid-feedback d-block">{{ form.password.errors }}</div> 
                        {% endif %} 
                    </div> 
                    <div> 
                        <button class="btn btn-success py-2 px-4" type="submit">ارسال</button> 
                    </div> 
                    {% if form.non_field_errors %} 
                        <div class="text-danger mt-2">{{ form.non_field_errors }}</div> 
                    {% endif %} 
                </form> 
            </div> 
        </div> 
    </div> 
</div> 
{% endblock %}