{% extends 'base.html' %} 
{% block title %}Checkout{% endblock %} 
{% block main %} 
<div class="container-fluid"> 
    <div class="row px-xl-5 justify-content-center"> 
        <div class="col-lg-6"> 
            <div class="bg-light p-30 mb-5 shadow-sm rounded"> 
                <h4 class="mb-4 text-center">📝اطلاعات ارسال </h4> 
                <form method="post"> 
                    {% csrf_token %} 
                    {% for field in form %} 
                        <div class="form-group mb-3"> 
                            {{ field.label_tag }} 
                            {{ field }} 
                            <small class="text-danger"> 
                                {{ field.errors }} 
                            </small> 
                        </div> 
                    {% endfor %} 
                    <button type="submit" class="btn btn-primary btn-block font-weight-bold py-3">
                        ثبت نهایی سفارش
                    </button> 
                </form> 
            </div> 
        </div> 
    </div> 
{% endblock %}